<form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
  <template v-for = "(option, index) in form.options" :key="index">
    <div>
      {% render 'product-option-row' %}
    </div>
  </template>


  <button @click = "addToCart" type="submit" name="add" id="add-to-cart-button">Add to cart</button>
</form>

<h1>Hi I am below your form</h1>

<script defer>
  if(document.querySelector("#add-to-cart-form")){
    const productForm = Vue.createApp({
      delimiters: ['${', '}'],
      data(){
        return {
          open: false,
          variants: "",
          selected: [],
          form: {
            selections: "",
            options: ""
          }
        }
      },
      created(){
        axios.get("/products/{{ product.handle }}.js")
        .then(response => {
          this.form.options = response.data.options.map(item => ({...item, visible: false}))
          this.variants = response.data.variants

          response.data.options.map(item => this.selected.push(item.values[0]))
          this.form.selections = [
            this.selected[0] ?  this.selected[0] : null,
            this.selected[1] ?  this.selected[1] : null,
            this.selected[2] ?  this.selected[2] : null
          ]
        })
      },
      methods: {
        addToCart(event){
          event.preventDefault() //prevents page from refreshing

          let selectedVariant

          this.variants.forEach( (variant, index) => {
            if(variant.option1 === this.form.selections[0] 
              && variant.option2 === this.form.selections[1]){
                selectedVariant = variant
            }
          })

          //console.log(`This is the Color: ${this.form.selections[0]}`)
          //console.log(`This is the Size: ${this.form.selections[1]}`)


          //data for the cart POST request
          let data = {
            id: selectedVariant.id,
            quantity: 1
          }

          axios.post("/cart/add.js", data)
            .then(response => {
              console.log(response)
            })
            .catch(error => {
              console.log(error)
            })

            alert("Item has been added to cart")
        }
      }
    })

    productForm.mount("#add-to-cart-form")
  }
</script>